*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
.input,.textarea{
  padding: 8px;
  margin: 8px 0;
  resize: none;
  font-size: 15px;
  outline: none;
  border: none;
  border: 1px solid #cacaca;
  border-radius: 5PX;
  letter-spacing: 0.5PX;
}
.input:focus,.textarea:focus{
  /* outline: 1px solid rgb(0, 221, 147); */
  box-shadow: 0 0 5px 1px rgb(0, 221, 147, 0.7);
  border-color: transparent;
}

.app{
  width: 100vw;
}
.dialogue{
  min-width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.dialogue_title{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}
.dialogue .btn{
  font-size: 16px;
  font-weight: 550;
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(0, 221, 147);
  font-size: 17px;
}
.dialogue .btn:hover{
  background-color: rgb(3, 170, 114);
}

.taskList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
  padding: 30px;
  gap: 20px;
}